body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container {
    display: flex;
    width: 1270px;
    margin: auto;
}
.one-half {
    width: 50%;
}
/* logo & menu area */
.logo {
    text-align: center;
}
img.diet-logo {
    width: 11%;
}
ul#menu-item li {
    list-style: none;
    padding: 0 35px;
}
ul#menu-item li a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    text-transform: uppercase;
}
ul#menu-item li a:hover{
    border-bottom: 2px solid #FF1E1E;
    transition: .1s;
}

ul#menu-item {
    display: inline-flex;
}
.nav-area .container {
    display: block;
}
.full-width {
    text-align: center;
}

/* header area css */

section.header-area {
    margin: 90px 0;
}

h1.hero-title {
    font-size: 60px;
    color: #575757;
    font-weight: 700;
    line-height: 130%;
}
span.special {
    color: #FBA24F;
}
p.hero-para {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    color: #828282;
    margin-bottom: 46px;
    width: 85%;
}
a.btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    background: linear-gradient(
88.33deg
, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgb(252 143 73 / 50%);
    border-radius: 100px;
    padding: 15px 29px;
}
img.lady-img {
    width: 92%;
}

/* About area css */

img.person-img {
    width: 55%;
    left: 30%;
    position: relative;
}
h2.about {
    font-size: 40px;
    color: #707070;
    font-weight: 700;
    line-height: 54px;
}
p.about-para {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #18191F;
    margin-bottom: 95px;
}
section.about-me-area {
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h2.about {
    font-size: 40px;
    color: #707070;
    font-weight: 700;
    line-height: 54px;
    margin-top: 90px;
}
.second-half.about-text {
    margin-bottom: 65px;
    padding: 0 110px 0 187px;
    width: 50%;
}

/* Receipe area */

h2.receipe-title {
    font-size: 36px;
    font-weight: 700;
    color: #676767;
    text-align: center;
    margin-top: 100px;
}
p.receipe-para {
    font-size: 18px;
    color: #252525;
    line-height: 136%;
    width: 47%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.one-third {
    width: 29%;
    border: 1px solid #fff;
    border-radius: 8%;
    padding: 20px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.one-third:first-child {
    margin-right: 4%;
}
.one-third:last-child {
    margin-left: 4%;
}
img.single-receipe-img {
    width: 100%;
}
.container.footer {
    display: block;
    text-align: center;
}
h3.single-receipe-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
    color: #18191F;
}
p.single-receipe-para {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #18191F;
}

section.receipe-area {
    margin-bottom: 100px;
}

/* Footer area */

section.footer-area {
    background: #0B0D17;
    padding: 45px 0 115px;
}
span.food-special {
    color: #FBA24F;
}
h3.footer-title {
    color: #5B5B5B;
    font-size: 30px;
    font-weight: 800;
    font-family: manrope;
}
p.footer-para {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}