body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container {
    display: flex;
    width: 1270px;
    margin: auto;
}
.one-half {
    width: 50%;
}

/* header area css */

section.header-area {
    margin: 100px 0;
}

h1.hero-title {
    font-size: 60px;
    color: #575757;
    font-weight: 700;
    line-height: 130%;
}
span.special {
    color: #FBA24F;
}
p.hero-para {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    color: #828282;
    margin-bottom: 46px;
    width: 85%;
}
a.btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    background: linear-gradient(
88.33deg
, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgb(252 143 73 / 50%);
    border-radius: 100px;
    padding: 15px 29px;
}
img.lady-img {
    width: 80%;
}
